body {
  margin: 0;
<<<<<<< HEAD
  padding:20px 40px;
=======
  padding: 20px 40px;
>>>>>>> 2a81cd144a5d969cfa4416aaab09063020329e02
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2a81cd144a5d969cfa4416aaab09063020329e02
